/* src/components/AddToCartAnimation.css */
.add-to-cart-animation {
    position: fixed;
    top: 40%;
    right: 45%;
    background-color: #5272ffac;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
}

.add-to-cart-animation.visible {
    opacity: 1;
}
