.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    background-color: rgb(225, 225, 225);
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgb(209, 208, 208);
    margin-top: 5vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: scroll;
}

.sidebar div {
    height: 15vh;
    background-color: rgb(255, 255, 255);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(207, 207, 207, 0.286);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

.powered-by {
    font-weight: 200;
    font-size: 12px;
}

.logo-text {
    height: 50px;
}

.link1 {
    text-decoration: none;
    color: black;
}

.link2 {
    text-decoration: none;
    color: black;
}

.link3 {
    text-decoration: none;
    color: black;
}

.link4 {
    text-decoration: none;
    color: black;
}
