.sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
}

.sidebar div {
    height: 15vh;
    background-color: red;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    justify-content: center;
    align-items: center;
}
